.follow-button {
  background-color: #412cff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.follow-button:hover {
  background-color: #5c3cff;
}

.unfollow-button {
  background-color: #36ff51;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.unfollow-button:hover {
  content: "Unfollow";
  background-color: #ff3c3c;
}

.event-container {
  transition: all 0.3s ease-out;
}

.event-container.deleting {
  opacity: 0;
  transform: translateY(-20px);
}